# Node.js
# =========================================================================
# folder dan file yang di-generate
node_modules/
cdn_modules/
# macOS
# =========================================================================
.DS_Store

# Windows
# =========================================================================
Thumbs.db